<!-- views/blogs-new.handlebars-->

<form method="POST" action="/blogs/view/{{blog._id}}">

    {{> blogs-form}}

    <!-- BUTTON -->
    <p>
        <button type="submit" class="btn btn-primary btn-sm">Save Blog</button>
    </p>
    <form method="GET" action="/">
        <button type="cancel" class="btn btn-primary btn-sm">Cancel</button>
    </form>

</form>
